<nav>
  <ul>
    <li><a href="#especialidades" onclick="fechaMenu();" class="scroll-suave">Início</a></li>
    <li><a href="#terapias" onclick="fechaMenu();" class="scroll-suave">Agenda</a></li>
    <li>Cadastros</li>
    <ul>
      <li><a href="#paiscuidadores" onclick="fechaMenu();" class="scroll-suave">Pessoas</a></li>
      <li><a href="#paiscuidadores" onclick="fechaMenu();" class="scroll-suave">Clientes</a></li>
      <li><a href="#paiscuidadores" onclick="fechaMenu();" class="scroll-suave">Pacientes</a></li>
      <li><a href="#profissionais" onclick="fechaMenu();" class="scroll-suave">Profissionais</a></li>
    </ul>
    <li><a href="#paiscuidadores" onclick="fechaMenu();" class="scroll-suave">Prontuários</a></li>
    <li><a href="#paiscuidadores" onclick="fechaMenu();" class="scroll-suave">Anamneses</a></li>
  </ul>
</nav>
