$cor-principal-1: #9900cc;
$cor-principal-2: #33cc99;
$cor-principal-3: #ff6600;
$cor-principal-4: #ffcc00;
$cor-principal-5: #737373;
$cor-principal-6: #000000;

$cor-secundaria-1: #e3b4f4;
$cor-secundaria-2: #a9dbca;
$cor-secundaria-3: #fdb88a;
$cor-secundaria-4: #ffe16a;
$cor-secundaria-5: #d9d9d9;
$cor-secundaria-6: #a6a6a6;

$cor-fundo-pagina: #F2F5F7;
$cor-fundo-cabecalho: #fff;
$cor-fundo-secao: #F2F5F7;
$cor-fundo-secao-rodape: #F2F5F7;
$cor-fundo-container: #fff;
$cor-fundo-rodape: #9900cc;
$cor-fundo-artigo: #fff;

$cor-fundo-conteudo-cartao: #F2F5F7;
$cor-fundo-cartao: #fff;
$cor-sombra-cartao: #CCC;

$cor-texto-campo: #292929;
$cor-fundo-campo: #fff;
$cor-borda-campo: #CCC;

$cor-fundo-botao: #fff;
$cor-borda-botao: #0b8007;

$cor-link-rodape: #fff;

$cor-mensagem-erro: #f76258;
$cor-mensagem-sucesso: #10b60b;
